<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title> Identifier Converter - {% block title %}{% endblock %}</title>
  <meta name="author" content="Wei-Ting Yap">
  <meta name="description" content="Securities identifier converter">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">

     <div class="row bg-1 text-center" id="header">
       <div class="col">
         <h1> Identifier Converter </h1>
       </div>
     </div>

 </div>

  <div id="footer">
    <h4>Prepared by Wei-Ting Yap, for GIC.</h4>
  </div>

</body>
